@import "variables.scss";
body {
  padding: 0;
}
footer {
  position: fixed;
  bottom: 0;
  color: $gray-600;
  margin-inline: auto;
  width: 100%; /* Ensure the footer spans the entire width */
  text-align: center; /* Center the content within the footer */
  padding: 0.7rem;
}
.heading-section {
  font-size: medium;
  font-weight: bolder;
  color: $white;
}
.calculator {
  background-color: #ffffff;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%2369E0AF" fill-opacity="1" d="M0,224L80,202.7C160,181,320,139,480,122.7C640,107,800,117,960,112C1120,107,1280,85,1360,74.7L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>');
  background-attachment: fixed;
  background-size: cover; /* Very subtle white background */
  border-radius: 0.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 96vh;
  border: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 1.5rem;
  padding-bottom: 0;
}
.body {
  display: flex;
  flex-direction: row;
}
.input-section {
  z-index: 10;
  background-color: $white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 0.6;
  max-height: 70vh;
  min-width: 30vw;
  position: relative;

  .inputs {
    overflow-y: scroll;
    width: 100%;

    padding-top: 0.5rem;
    margin: 0;
  }
  .button {
    position: fixed absolute;
    margin-inline: auto;
    button {
      background-color: #37c589bd;
      color: $white;
      border: none;
      border-radius: 0.25rem;
      padding: 0.5rem;
      font-size: medium;
      margin-inline: auto;

      &:hover {
        filter: brightness(0.92);
        cursor: pointer;
      }
    }
  }
  .input-line {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem; /* Add margin between each input-line */
    width: 100%; /* Ensure the input line takes the full width of its container */

    input {
      flex: 1; /* Allow the input to take up remaining space */
      width: 5rem;
      color: $green-500;
      background-color: $green-100;
      border: none;
      border-radius: 0.3rem;
      padding: 0.5rem;

      &:focus {
        outline: none;
      }

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
}

/* ... (previous styles) ... */

.table-section {
  position: relative;
  z-index: 10;
  border-radius: 0.4rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  color: $gray-700;
  max-width: 45rem;
  height: 76vh;
  flex: 1;
  margin: 1rem;
  margin-left: 2rem;
  overflow-y: scroll;

  table {
    max-width: 45rem;
    border-collapse: collapse;
    border-radius: 0.8rem;

    th,
    td {
      max-width: 45rem;
      padding: 0.8rem;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    tr {
      max-width: 45rem;
      border-bottom: 0.5px solid $gray-100;
    }

    thead {
      position: -webkit-sticky; /* For Safari */
      position: sticky;
      top: 0;
      background: #4bd199; /* Adjusted background color for the header */
      color: $gray-50;
      z-index: 2;
    }

    th {
      font-weight: 600;
    }
  }
}

/* Style the entire scrollbar */
/* This will be applied to the standard scrollbar in Firefox, Edge, etc. */
* {
  scrollbar-color: $green-100;
}

/* Optionally, style the track (background) of the scrollbar */
*::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/* Style the handle (thumb) of the scrollbar */
*::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 8px; /* Optional: rounded corners */
}

/* Optionally, style the corners of the scrollbar */
*::-webkit-scrollbar-corner {
  background-color: $green-100;
}

/* Style the entire scrollbar */
/* This will be applied to the WebKit browsers like Chrome and Safari */
*::-webkit-scrollbar {
  width: 2px; /* Optional: set the width of the scrollbar */
  height: 1px;
}

/* Optionally, style the track (background) of the scrollbar */
*::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/* Style the handle (thumb) of the scrollbar */
*::-webkit-scrollbar-thumb {
  background-color: $green-300;
  border-radius: 8px; /* Optional: rounded corners */
}

/* Optionally, style the corners of the scrollbar */
*::-webkit-scrollbar-corner {
  background-color: #f0f0f0;
}

@media only screen and (max-width: 767px) {
  /* Your mobile-specific styles go here */
  .calculator {
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    // font-size: smaller;
    padding: 0rem;
  }
  .heading-section {
    margin-inline: auto;
    // margin: 0;
    padding: 0;
    width: 100%;
  }
  .body {
    flex-direction: column;
  }

  .input-section {
    box-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.5);
    margin-top: 0.5rem;
    margin-align: auto;
    flex: 1;
    max-width: 87vw;
    max-height: 60vh;
    overflow: scroll;
    .input-line {
      flex-direction: column;
      margin-bottom: 0rem;
      justify-content: center;
      align-items: center;

      .label {
        margin-bottom: 0.5em;
      }
      input {
        width: 70vw;
        text-align: center;
      }
    }
  }
  .table-section {
    flex: 1;
    box-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.5);

    max-width: 87vw;
    max-height: 70vh;
    overflow: scroll;
    margin-inline: auto;
  }
}
