// COLOURS
$gray-900: #44475b;
$gray-800: #696c7c;
$gray-700: #7c7e8c;
$gray-600: #8f919d;
$gray-500: #a1a3ad;
$gray-400: #b0b2ba;
$gray-300: #c7c8ce;
$gray-200: #dddee1;
$gray-150: #e9e9eb;
$gray-100: #f0f0f2;
$gray-50: #f8f8f8;
$green-500: #00b386;
$green-300: #66e3c4;
$green-100: #ebf9f5;
$purple-500: #5367ff;
$purple-300: #84a4ff;
$purple-100: #eef0ff;
$yellow-500: #ffb61b;
$yellow-100: #fff5e0;
$red-500: #eb5b3c;
$red-100: #f8efec;
$white: white;
